.pizza-creator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 90%;
    background-color: white;
    color: black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 17px -9px rgba(0,0,0,0.97);
    -moz-box-shadow: 0px 2px 17px -9px rgba(0,0,0,0.97);
    box-shadow: 0px 2px 17px -9px rgba(0,0,0,0.97);
}

.pizza-creator-wrapper {
    height: 60%;
    width: 100%;
    /* background-color: green; */
    position: relative;
}

.creator-title {
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    font-size: 45px;
}

.creator-subtitle {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
}


.pizza-sausage {
    height: 360px;
    width: 360px;
    background-color: 	red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.pizza-normal {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.pizza-cheese {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.pizza-tomato {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.pizza-mushrooms {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.pizza-salami {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.pizza-rukola {
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.pizza-creator-addons {
    display: flex;
    justify-content: space-around;
}

.pizza-creator-info {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.pizza-creator-info h2 {
    margin-left: 20px;
}

.pizza-creator-button {
    border: 1px solid black;
    background: none;
    padding: 0 20px;
    font-weight: 700;
    margin-right: 40px;
    transition: .4s all;
}

.pizza-content {
    position: relative;
}

.pizza-creator-button:hover {
    background-color: black;
    color: white;
}

.off-creator {
    padding: 20px;
    position: absolute;
    background: none;
    border: none;
    font-size: 50px;
    font-weight: 700;
    top: -20px;
    right: 10px;
    cursor: pointer;
}


.off-creator:hover {
    transform: scale(1.1);
}